.CatalogBlock {
  border-spacing: 0;
}

.CatalogBlock .CatalogHeader {
  background-color: rgb(214, 214, 214);
}

.CatalogBlock .CatalogHeader .HeaderTitle {
  text-align: center;
}

.CatalogBlock .CatalogRow {
  line-height: 200px;
}

.CatalogBlock .RowCell {
  border: 1px solid;
  text-align: center;
  min-width: 80px;
}

.CatalogBlock .RowCell img {
  display: block;
  width: 100px;
}
