.MobileClient input {
  width: 120px;
}

.MobileClient .clientMale {
  background-color: rgb(40, 183, 40);
}

.MobileClient .clientFemale {
  background-color: rgb(237, 245, 0);
}

.MobileClient .id-column {
  max-width: 30px;
  overflow-x: hidden;
}
