.CatalogItemProperties {
  width: 50%;
}

.CatalogItemProperties .PropertiesForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CatalogItemProperties .PropertiesForm .FieldBlock {
  display: flex;
  flex-direction: column;
}

.CatalogItemProperties .PropertiesControls {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
